<div class="dashboard-container">
  <nav class="menu">
    <h3>Configuração</h3>
    <a routerLink="permissions">PERMISSÕES</a>
    <h3>Vendas</h3>
    <a routerLink="sales/new">NOVA VENDA</a>
    <a routerLink="sales/funnel">FUNIL DE VENDAS</a>
    <a routerLink="sales/data">DADOS DE VENDAS</a>
    <a routerLink="sales/calendar">AGENDA DE VENDAS</a>
    <a routerLink="sales/finished">VENDAS FINALIZADAS</a>
    <h3>Clientes</h3>
    <a routerLink="clients">GERENCIAR CLIENTES</a>
    <h3>Usuários</h3>
    <a routerLink="users">GERENCIAR USUÁRIOS</a>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
