<header class="app-header">
  <div class="logo">Login Boilerplate</div>

  <div class="lang-menu">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ currentLang === 'pt' ? 'Português' : 'English' }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchLang('pt')">
        {{ 'INTERNATIONALIZATION.PORTUGUESE' | translate }}
      </button>
      <button mat-menu-item (click)="switchLang('en')">
        {{ 'INTERNATIONALIZATION.ENGLISH' | translate }}
      </button>
    </mat-menu>
  </div>
</header>